@page "/"

<PageTitle>Home</PageTitle>

<!-- Last 7 days sections -->
<div class="d-flex justify-space-between pb-5">
	<div style="width:75px;height:75px;" class="text-center">
		<p class="m-0 fw-600 my-1">Mon</p>
		<PPRings />
	</div>

	<div style="width:75px;height:75px;" class="text-center">
		<p class="m-0 fw-600 my-1">Tue</p>
		<PPRings />
	</div>

	<div style="width:75px;height:75px;" class="text-center">
		<p class="m-0 fw-600 my-1">Wed</p>
		<PPRings />
	</div>

	<div style="width:75px;height:75px;" class="text-center">
		<p class="m-0 fw-600 my-1">Thu</p>
		<PPRings />
	</div>

	<div style="width:75px;height:75px;" class="text-center">
		<p class="m-0 fw-600 my-1">Fri</p>
		<PPRings />
	</div>

	<div style="width:75px;height:75px;" class="text-center">
		<p class="m-0 fw-600 my-1">Sat</p>
		<PPRings />
	</div>

	<div style="width:75px;height:75px;" class="text-center">
		<p class="m-0 fw-600 my-1">Sun</p>
		<PPRings />
	</div>
</div>

<!-- Main session -->
<div class="d-flex mt-7">
	<div style="width:40%">
		<PPHomeClock />
	</div>

	<div style="width:60%" class="ml-4">
		<PPHomeStats />
	</div>
</div>


<!-- Activty Sessions -->
<section class="my-4">
	<h2 class="m-0">Activities</h2>

	<div class="row">
		<div class="col-lg-6 col-md-12 col-xsm-12 mr-2">
			<PPActivityItem Activity="_sampleActivity" />
			<PPActivityItem Activity="_sampleActivity" />
			<PPActivityItem Activity="_sampleActivity" />
			<PPActivityItem Activity="_sampleActivity" />
			<PPActivityItem Activity="_sampleActivity" />
		</div>

		<div class="col-lg-6 col-md-12 col-xsm-12">
			<PPActivityItem Activity="_sampleActivity" />
			<PPActivityItem Activity="_sampleActivity" />
			<PPActivityItem Activity="_sampleActivity" />
			<PPActivityItem Activity="_sampleActivity" />
		</div>
	</div>

</section>

@code
{

	private Activity _sampleActivity = new Activity
		{
			ShortDescription = "Working on implementing the Azure Functions to get the work to be best in its class"
		};

}