@page "/"

<PageTitle>AK Productivty+</PageTitle>

<!-- Last 7 days sections -->
<div class="d-flex justify-space-between pb-2 horizontal-overflow-auto">
	<PPRingBox ShortTitle="Mon" />
	<PPRingBox ShortTitle="Tue" />
	<PPRingBox ShortTitle="Wed" />
	<PPRingBox ShortTitle="Thu" />
	<PPRingBox ShortTitle="Fri" />
	<PPRingBox ShortTitle="Sat" />
	<PPRingBox ShortTitle="Sun" />
</div>

<div class="my-2">
	<PPOngoingActivityAlert />
</div>

<!-- Main session -->
<div class="row">
	<div class="col-xsm-12 col-md-5 col-lg-4">
		<div class="mr-3">
			<PPHomeClock />
		</div>
	</div>

	<div class="col-xsm-12 col-sm-12 col-md-7 col-lg-8">
		<div class="ml-3">
			<PPHomeStats />
		</div>
	</div>
</div>


<!-- Activty Sessions -->
<section class="my-4">
	<div class="d-flex justify-space-between align-center">
		<h2 class="m-0">Activities</h2>

		<a class="link font-s">Show All</a>
	</div>


	<div class="row">
		<div class="col-lg-6 col-md-12 col-xsm-12">
			<div class="pr-1">
				<PPActivityItem Activity="_sampleActivity" />
				<PPActivityItem Activity="_sampleActivity" />
				<PPActivityItem Activity="_sampleActivity" />
				<PPActivityItem Activity="_sampleActivity" />
				<PPActivityItem Activity="_sampleActivity" />
			</div>
		</div>

		<div class="col-lg-6 col-md-12 col-xsm-12">
			<div class="pl-1">
				<PPActivityItem Activity="_sampleActivity" />
				<PPActivityItem Activity="_sampleActivity" />
				<PPActivityItem Activity="_sampleActivity" />
				<PPActivityItem Activity="_sampleActivity" />
			</div>
		</div>
	</div>

</section>

@code
{

	private Activity _sampleActivity = new Activity
		{
			ShortDescription = "Working on implementing the Azure Functions to get the work to be best in its class"
		};

}