@page "/"

<PageTitle>Home</PageTitle>

<!-- Last 7 days sections -->
<div class="d-flex justify-content-around">
	<div style="width:75px;height:75px;" class="mr-2">
		<p>Sat</p>
		<ThreeRings FirstMaxValue="100" SecondMaxValue="5" ThirdMaxValue="70"
		 FirstValue="30" SecondValue="2" ThirdValue="50"
		 OutsideRingGradient='new GradientColor("#FA5454", "#B50000")'
		 CenterRingGradient='new GradientColor("#08B500", "#00F64E")'
		 SmallRingGradient='new GradientColor("#54BBFA", "#0078C2")' />

	</div>

	<div style="width:75px;height:75px;" class="mr-2">
		<p>Sat</p>
		<ThreeRings FirstMaxValue="100" SecondMaxValue="5" ThirdMaxValue="70"
	 FirstValue="30" SecondValue="2" ThirdValue="50"
	 OutsideRingGradient='new GradientColor("#FA5454", "#B50000")'
	 CenterRingGradient='new GradientColor("#08B500", "#00F64E")'
	 SmallRingGradient='new GradientColor("#54BBFA", "#0078C2")' />

	</div>

	<div style="width:75px;height:75px;" class="mr-2">
		<p>Sat</p>
		<ThreeRings FirstMaxValue="100" SecondMaxValue="5" ThirdMaxValue="70"
	 FirstValue="30" SecondValue="2" ThirdValue="50"
	 OutsideRingGradient='new GradientColor("#FA5454", "#B50000")'
	 CenterRingGradient='new GradientColor("#08B500", "#00F64E")'
	 SmallRingGradient='new GradientColor("#54BBFA", "#0078C2")' />

	</div>

	<div style="width:75px;height:75px;" class="mr-2">
		<p>Sat</p>
		<ThreeRings FirstMaxValue="100" SecondMaxValue="5" ThirdMaxValue="70"
	 FirstValue="30" SecondValue="2" ThirdValue="50"
	 OutsideRingGradient='new GradientColor("#FA5454", "#B50000")'
	 CenterRingGradient='new GradientColor("#08B500", "#00F64E")'
	 SmallRingGradient='new GradientColor("#54BBFA", "#0078C2")' />

	</div>
	
</div>

<div class="d-flex justify-content-center mt-3">
	<div style="width:375px;height:375px">
		<ThreeRings FirstMaxValue="100" SecondMaxValue="5" ThirdMaxValue="70"
					FirstValue="30" SecondValue="2" ThirdValue="50"
					OutsideRingGradient='new GradientColor("#FA5454", "#B50000")'
					CenterRingGradient='new GradientColor("#08B500", "#00F64E")'
					SmallRingGradient='new GradientColor("#54BBFA", "#0078C2")' />

	</div>
</div>

<div class="mt-2" style="border-radius:5px;background-color:#E7F0F6">
	
</div>
