<header class="logo-header fixed d-flex justify-center p-2 width-100">
	<div class="d-flex align-center">
		<img src="images/ak-logo-small.png" style="width:45px;" alt="AK Software logo" class="mr-1"/>

		<h2 class="m-0">Productive+</h2>
	</div>
</header>