@inherits LayoutComponentBase

<div class="page">
    <main>
		<div class="top-header">
			<h2>AK Productive+</h2>
        </div>

        <article class="page-content px-4">
            @Body
        </article>
    </main>
</div>
