@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="d-flex justify-content-center mt-10">
	<Ring Width="500px" Height="500px" Value="50" />
</div>