@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="d-flex justify-content-center mt-10">
	<div style="width:500px;height:500px;position:relative">
		<Ring Width="400px" Height="400px" Value="83" RingGradient='new GradientColor("#FA5454", "#B50000")'
			  style="position:absolute;top:50px;left:50px;"/>
		<Ring Width="280px" Height="280px" Value="25" RingGradient='new GradientColor("#08B500", "#00F64E")'
			  style="position:absolute;top:110px;left:110px;" />
		<Ring Width="160px" Height="160px" Value="100" RingGradient='new GradientColor("#54BBFA", "#0078C2")'
			  style="position:absolute;top:170px;left:170px;" />
	</div>
	
</div>