<div class="border-rounded-2 bg-gray d-flex align-center activity-card">
	<img src="icons/suitcase.png" /> 
	
	<div class="activity-info-section">
		
	</div>
	
	<div class="activity-time-section">
		
	</div>
</div> 

@code {

	[Parameter]
	public Activity? Activity { get; set; }


	
}
