
<div class="border-rounded-6 light-gray-gradient text-center p-2 d-flex" style="height:200px;">
	<div style="width:180px;height:180px;">
		<PPRings Cycle="Cycle" />
	</div>

	
</div>
@code {

	[Parameter]
	public ProductivityCycle Cycle { get; set; }

}
