
<div class="active-activity-gradient border-rounded-2 d-flex justify-space-between px-3 py-1">
	<div class="d-flex align-center">
		<img src="icons/clock-white.png" class="ongoing-icon" />
		<h2 class="main-text">Working</h2>
	</div>

	<div class="timer-section">
		<h2 class="fw-600 main-text">00:12:14</h2>
	</div>

	<div class="actions d-flex align-center">
		
	</div>
</div>

@code {

}
